/** My Mixins */
@mixin bg-fullscreen-items-center {
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  -moz-background-size: cover !important;
  -webkit-background-size: cover !important;
  -o-background-size: cover !important;
  background-attachment: fixed !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
